body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #222;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.75em;
  color: #2a2d31;
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

p {
  margin-bottom: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  font-size: 1.125rem;
  line-height: 1.5em;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  margin-bottom: 0.1em;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-left: 5px solid #0071a7;
  color: #6e6e6e;
  font-size: 1.125rem;
  line-height: 1.5em;
}

.section-60 {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.section-60.section-grey {
  background-color: #fafafc;
}

.section-60.section-grey.combo-minvh {
  min-height: 100vh;
}

.section-60.section-blue {
  background-color: #0a3e57;
  color: #fff;
}

.section-60.section-minvh {
  min-height: 100vh;
}

.jer_640 {
  display: block;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.submit-button {
  width: 100%;
  height: 50px;
  border: 1px none #c8d0f9;
  border-radius: 4px;
  background-color: #398db6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.submit-button:hover {
  background-color: #20698d;
}

.jer_input {
  width: 100%;
  height: 50px;
  border: 1px solid #041f2c;
  border-radius: 4px;
  background-color: #072e41;
  color: #fff;
  font-weight: 400;
}

.jer_input:focus {
  border-width: 1px;
  border-color: #398db6;
  color: #fff;
}

.jer_home_header {
  margin-top: 0px;
  margin-bottom: 0.5em;
  padding-bottom: 10px;
  border-bottom: 4px none #012b3f;
  font-family: 'News Cycle', sans-serif;
  color: #fafafa;
  font-size: 3.4rem;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.jer_nav_link {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #ececec;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.jer_nav_link:hover {
  color: #398db6;
  font-weight: 400;
}

.jer_nav_link.w--current {
  color: #ececec;
}

.jer_nav_link.w--current:hover {
  color: #398db6;
}

.jer_nav {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.jer_text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #707070;
  font-weight: 300;
}

.jer_bq_name {
  color: #0071a7;
  font-weight: 400;
}

.jer_avatar {
  border-radius: 50%;
}

.jer_cat {
  margin-right: 20px;
  color: #0071a7;
  text-decoration: underline;
}

.jer_blog {
  margin-top: 0px;
  margin-bottom: 40px;
}

.jer_post_link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #979797;
  text-decoration: none;
}

.jer_post_link:hover {
  color: #0071a7;
}

.jer_button {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px none #c8d0f9;
  border-radius: 4px;
  background-color: #398db6;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.jer_button:hover {
  background-color: #20698d;
}

.jer_post_sub {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fdfdfd;
  text-align: left;
}

.discord_avatar {
  padding: 10px;
  border-radius: 50%;
  background-color: #000;
}

.success-message {
  background-color: #0071a7;
  color: #fff;
  font-weight: 400;
}

.error-message {
  background-color: #ff3500;
  color: #ffe0e0;
  text-align: center;
}

.game_logo {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.game_logo:hover {
  border: 1px none #000;
}

.jer_screencast_header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #0071a7;
  color: #222;
  font-size: 1.999em;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}

.jer_buy_now {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.jer_sales_disclaimer {
  color: #acacac;
  font-size: 16px;
}

.dap_navbar {
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px none #000;
  background-color: #0a3e57;
}

.body {
  font-family: Lato, sans-serif;
}

.jer_home_sub {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #6e6e6e;
  text-align: left;
}

.jer_white_box {
  padding: 20px 40px;
  border-bottom: 1px none #000;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
}

.jer_100 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.jer_checkout_info {
  margin-right: -20px;
  margin-left: -20px;
  padding: 10px 20px;
  border-bottom: 1px solid #0097df;
  background-color: #006da1;
  color: #fff;
}

.submit-button-2 {
  background-color: #00a772;
}

.italic-text {
  font-weight: 300;
}

.jer_sub {
  margin-bottom: 1em;
  color: #fafafa;
  font-weight: 300;
  text-align: center;
}

.italic-text-2 {
  font-weight: 400;
}

.section-darkgrey {
  padding-top: 20px;
  background-color: #222;
}

.jer_page_header {
  margin-top: 0px;
  margin-bottom: 0.2em;
  padding-bottom: 10px;
  border-bottom: 4px solid #012b3f;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  font-size: 2.4rem;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}

.heading-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -3px;
}

.jer_home_og {
  margin-top: 0px;
  margin-bottom: 0.2em;
  padding-bottom: 10px;
  border-bottom: 4px solid #012b3f;
  font-family: 'News Cycle', sans-serif;
  color: #4a4a4a;
  font-size: 3.4rem;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.construct_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.5;
}

.gms_image {
  padding-top: 15px;
  opacity: 0.5;
}

.unity_image {
  padding-top: 10px;
  opacity: 0.5;
}

.godot_image {
  opacity: 0.5;
}

.heading-3 {
  font-weight: 400;
}

.payement_type {
  color: #c5c5c5;
}

.jer_list_item {
  color: #fff;
  font-size: 17px;
}

.block-quote {
  border-left-style: none;
  border-left-color: #d6d6d6;
  color: #ececec;
}

.jer_post_header_inverse {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #0071a7;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 2.8rem;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}

.jer_categories {
  list-style-type: none;
}

.section-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-80.section-blue {
  background-color: #0a3e57;
}

.jer_screencast_card {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fafafc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.jer_screencast_link {
  display: block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #0071a7;
  font-size: 1.6rem;
  font-weight: 600;
}

.jer_screencast_link:hover {
  color: #00334b;
}

.jer_screencast_view {
  margin-bottom: 20px;
}

.jer_selects {
  height: 50px;
  border-radius: 4px;
  font-weight: 400;
}

.jer_screencast_headline {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px none #0071a7;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 3.6rem;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.jer_post_link_c {
  display: block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #0071a7;
  font-size: 1.1rem;
  font-weight: 600;
}

.jer_post_link_c:hover {
  color: #00334b;
}

.section-video {
  background-color: #222;
}

.tab-link {
  width: 25%;
  padding-top: 17px;
  padding-bottom: 17px;
  border-right: 1px solid #133546;
  background-color: #0a3e57;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.tab-link:hover {
  background-color: #093042;
}

.tab-link.w--current {
  background-color: #398db6;
}

.jer_watch_screencast {
  text-align: center;
}

@media (max-width: 991px) {
  .jer_640 {
    width: auto;
  }
  .game_logo {
    margin-top: 10px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #0f0f0f;
  }
  .jer_100 {
    width: auto;
  }
  .jer_checkout_info {
    margin-right: 0px;
    margin-left: 0px;
  }
  .tab-link {
    width: auto;
  }
}

@media (max-width: 767px) {
  .jer_640 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .jer_home_header {
    margin-bottom: 20px;
  }
  .jer_avatar {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .game_logo {
    margin-top: 10px;
  }
  .jer_screencast_header {
    margin-bottom: 20px;
  }
  .dap_navbar {
    padding-right: 0px;
    padding-left: 0px;
  }
  .jer_100 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .jer_page_header {
    margin-bottom: 20px;
  }
  .jer_home_og {
    margin-bottom: 20px;
  }
  .construct_image {
    padding-top: 10px;
    padding-bottom: 10px;
    float: none;
  }
  .unity_image {
    padding-top: 0px;
  }
  .column {
    text-align: center;
  }
  .column-2 {
    display: block;
    text-align: center;
  }
  .column-3 {
    text-align: center;
  }
  .column-4 {
    text-align: center;
  }
  .jer_post_header_inverse {
    margin-bottom: 20px;
  }
  .jer_screencast_headline {
    margin-bottom: 20px;
  }
  .tab-link {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .jer_home_header {
    margin-bottom: 20px;
    font-size: 1.444em;
  }
  .jer_screencast_header {
    margin-bottom: 20px;
    font-size: 1.444em;
  }
  .jer_page_header {
    margin-bottom: 20px;
    font-size: 1.444em;
  }
  .jer_home_og {
    margin-bottom: 20px;
    font-size: 1.444em;
  }
  .unity_image {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .jer_post_header_inverse {
    margin-bottom: 20px;
    font-size: 1.444em;
  }
  .jer_screencast_headline {
    margin-bottom: 20px;
    font-size: 1.444em;
  }
}

